VITE_GOOGLE_CLIENT_ID=abc.apps.googleusercontent.com
VITE_FRONTEND_HOST=127.0.0.1
VITE_FRONTEND_PORT=5173
VITE_BACKEND_PORT=8000
VITE_API_BASE_INTERNAL=http://127.0.0.1:8000
VITE_API_BASE_EXTERNAL=http://localhost:8000
